Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-JWT-Extended==4.6.0
Flask-CORS==4.0.0
Flask-SocketIO==5.3.6
bleak==3.0.2
openai==1.35.0
requests==2.31.0
APScheduler==3.10.4
matplotlib>=3.9.0
python-dotenv==1.0.1
pandas>=2.2.0
openpyxl==3.1.2
Werkzeug==3.0.3
Pillow>=10.0.0
easyocr>=1.7.0
pytesseract>=0.3.10
jdatetime>=4.1.0
arabic-reshaper>=3.0.0
python-bidi>=0.4.2


